@charset "utf-8";
/* CSS Document */

@media all and (min-width: 576px) and (max-width: 1124px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		padding:12.5px 0px;
		top:0;
	}
	
	header h1 {
		font-size:1em;
	}
	
	main {
		width:100%;
		height:100%;
		position:relative;
	
	}
	
	#main-table {
		width:100%;
		height:100%;
		position:relative;	
		overflow-y:scroll;
	}
	
	.section1, .section2, .section3 {
		width:99%;
		height:60%;
		position:relative;
		padding-left:0.5%;
		padding-right:0.5%;
		padding-bottom:0.75%;
	
	}	
		
	.table-header, .table-header-section3 {
		width:100%;
		position:relative;
		z-index:1;	
	}
		
	#main-table .section1 .table-data, #main-table .section2 .table-data, #main-table .section3 .table-data {
		width:100%;
		height:88.875%;
		position:relative;
		display:inline-block;
		margin-top:0;
		border-left-width:0;
		border-right-width:0;
		border-bottom-width:0;
		overflow-y:scroll;
	}
	
	#main-table .section1 .table-row, #main-table .section2 .table-row, #main-table .section3 .table-row {
		width:100%;
		height:auto;
		display:inline-block;
		float:left;
	}
	
}

@media all and (min-width: 415px) and (max-width: 575px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		padding:12.5px 0px;
		top:0;
	}
	
	header h1 {
		font-size:1em;
	}
	
	main {
		width:100%;
		height:100%;
		position:relative;
	
	}
	
	#main-table {
		width:100%;
		height:100%;
		position:relative;	
		overflow-y:scroll;
	}
	
	.section1 {
		width:100%;
		height:100%;
		position:relative;
	}	
	
	.section2 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:40px;
	}	


	.section3 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:80px;		
	}
	
	.table-header, .table-header-section3 {
		width:100%;
		position:relative;
		z-index:1;	
	}
		
	.table-header h2, .table-header p {
		width:40%;
	}
		
	#main-table .section1 .table-data, #main-table .section2 .table-data, #main-table .section3 .table-data {
		width:100%;
		height:100%;
		position:relative;
		display:inline-block;
		margin-top:0;
		border-left-width:0;
		border-right-width:0;
		border-bottom-width:0;
		overflow-y:scroll;
	}
	
	#main-table .section1 .table-row, #main-table .section2 .table-row, #main-table .section3 .table-row {
		width:100%;
		height:auto;
		display:inline-block;
		float:left;
		border-bottom-width:1.75px;
		border-bottom-style:solid;
		border-bottom-color:#000;
		
	}
	
	#main-table .section1 .table-cell, #main-table .section2 .table-cell {
		width:25%;
		display:inline-block;
		border-bottom-width:0.5px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
	}
	
	#main-table .section1 .table-cell:nth-child(5), #main-table .section1 .table-cell:nth-child(6), #main-table .section1 .table-cell:nth-child(7) {
		width:33.3%;
	}
	
	#main-table .section2 .table-cell:nth-child(5), #main-table .section2 .table-cell:nth-child(6), #main-table .section2 .table-cell:nth-child(7) {
		width:33.3%;
	} 
		
	#main-table .section3 .table-cell {
		width:50%;
		display:inline-block;
		border-bottom-width:0.5px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
	}
	
	#main-table .section3 .table-cell:nth-child(1) {
		width:100%;
	}
		
	#main-table .section3 .table-cell:nth-child(1) p {
		text-align:center;
	}
		
	 #main-table .section3 .table-cell:nth-child(4) p {
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	
	#main-table .section3 .table-cell:nth-child(5) p {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding-right:0;
		text-align:center;
	}
	
	.section1 .female, .section2 .male {
		padding-right:0;
	}
	
	.section3 .table-cell:nth-child(4) span {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.section3 .camera {
		margin-right:auto;
		margin-left:auto;
	}
	

}

@media all and (min-width: 361px) and (max-width: 414px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		padding:12.5px 0px;
		top:0;
	}
	
	header h1 {
		font-size:1em;
	}
	
	main {
		width:100%;
		height:100%;
		position:relative;
	
	}
	
	#main-table {
		width:100%;
		height:100%;
		position:relative;	
		overflow-y:scroll;
	}
	
	.section1 {
		width:100%;
		height:100%;
		position:relative;
	}	
	
	.section2 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:40px;
	}	


	.section3 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:80px;		
	}
	
	.table-header, .table-header-section3 {
		width:100%;
		position:relative;
		z-index:1;	
	}

	.table-header h2, .table-header p {
		width:40%;
	}
		
	#main-table .section1 .table-data, #main-table .section2 .table-data, #main-table .section3 .table-data {
		width:100%;
		height:100%;
		position:relative;
		display:inline-block;
		margin-top:0;
		border-left-width:0;
		border-right-width:0;
		border-bottom-width:0;
		overflow-y:scroll;
	}
	
	#main-table .section1 .table-row, #main-table .section2 .table-row, #main-table .section3 .table-row {
		width:100%;
		height:auto;
		display:inline-block;
		float:left;
		border-bottom-width:1.75px;
		border-bottom-style:solid;
		border-bottom-color:#000;
		
	}
	
	#main-table .section1 .table-cell, #main-table .section2 .table-cell {
		width:50%;
		display:inline-block;
		border-bottom-width:0.5px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
	}
	
	#main-table .section1 .table-cell:nth-child(3), #main-table .section1 .table-cell:nth-child(4), #main-table .section1 .table-cell:nth-child(5) {
		width:33.3%;
	}
	
	#main-table .section2 .table-cell:nth-child(3), #main-table .section2 .table-cell:nth-child(4), #main-table .section2 .table-cell:nth-child(5) {
		width:33.3%;
	} 
	
	#main-table .section3 .table-cell {
		width:50%;
		display:inline-block;
		border-bottom-width:0.5px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
	}
	
	#main-table .section3 .table-cell:nth-child(1) {
		width:100%;
	}
	
	#main-table .section3 .table-cell:nth-child(1) p {
		text-align:center;
	}
		
	 #main-table .section3 .table-cell:nth-child(4) p {
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	
	#main-table .section3 .table-cell:nth-child(5) p {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding-right:0;
		text-align:center;
	}
	
	.section1 .female, .section2 .male {
		margin-left:16.67%;
		padding-right:0;
	}
	
	.image-text-holder {
		display:inline-block;
	}
	
	.section3 .table-cell:nth-child(4) span {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.section3 .camera {
		margin-right:auto;
		margin-left:auto;
	}
	
}

/* Smaller Screens */
@media all and (min-width: 320px) and (max-width: 360px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		padding:12.5px 0px;
		top:0;
	}
	
	header h1 {
		font-size:1em;
	}
	
	main {
		width:100%;
		height:100%;
		position:relative;
	}
	
	#main-table {
		width:100%;
		height:100%;
		position:relative;	
		overflow-y:scroll;
	}
	
	.section1 {
		width:100%;
		height:100%;
		position:relative;
	}	
	
	.section2 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:40px;
	}	


	.section3 {
		width:100%;
		height:100%;
		position:relative;
		float:left;
		top:80px;		
	}
	
	.table-header, .table-header-section3 {
		width:100%;
		position:relative;
		z-index:1;	
	}
	
	.table-header h2, .table-header p {
		width:40%;
	}
		
	#main-table .section1 .table-data, #main-table .section2 .table-data, #main-table .section3 .table-data {
		width:100%;
		height:100%;
		position:relative;
		display:inline-block;
		margin-top:0;
		border-left-width:0;
		border-right-width:0;
		border-bottom-width:0;
		overflow-y:scroll;
	}
	
	#main-table .section1 .table-row, #main-table .section2 .table-row, #main-table .section3 .table-row {
		width:100%;
		height:auto;
		display:inline-block;
		float:left;
		border-bottom-width:1.75px;
		border-bottom-style:solid;
		border-bottom-color:#000;
		
	}
	
	#main-table .section1 .table-cell, #main-table .section2 .table-cell, #main-table .section3 .table-cell {
		width:100%;
		display:inline-block;
		border-bottom-width:0.5px;
		border-bottom-style:solid;
		border-bottom-color:lightgray;
	}
	
	#main-table .section3 .table-cell:nth-child(1) p {
		text-align:center;
	}
		
	 #main-table .section3 .table-cell:nth-child(4) p {
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	#main-table .section3 .table-cell:nth-child(5) p {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding-right:0;
		text-align:center;
	}
	
	.section1 .female, .section2 .male {
		padding-right:0;
	}
	
	.section3 .table-cell:nth-child(4) span {
		width:33%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.section3 .camera {
		margin-right:auto;
		margin-left:auto;
	}
}
