@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

html, body {
  	width:100%;
	height:100%;
	background-color:#3a1c4a;
	-ms-overflow-style: none;
	-moz-overflow-style:none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
	display:none;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
}

header {
	width:100%;
	height:50px;
	position:fixed;
	display:block;
	top:0;
	background-color:#3a1c4a;
	z-index:2;
}

header h1 {
	display: block;
	padding:12.5px 0px;
	float:left;
	clear: right;
	font-size:1.3em;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	text-align:left;
	color:#fff;
}

main {
	width:100%;
	height:100%;
	position:relative;
	top:50px;	
}

.apple {
	width:25px;
	height:25px;
	position: relative;
	display:inline-block;
	margin:12.5px;
	float:left;	
}

.windows {
	width:25px;
	height:25px;
	position:relative;
	display:block;
	margin:0% 49%;
	top:12.5px;
	bottom:12.5px;
}

.total-count {
	width:35px;
	height:35px;
	position:absolute;
	display:inline-block;
	margin:7.5px 15px;
	top:0;
	right:0;
	border-width:1px;
	border-style:solid;
	border-radius: 50%;
	background-color:#fff;
}

.total-count p {
	width:35px;
	height:35px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:300;
	line-height:35px;
	text-align: center;
	top:0;
	bottom:0;
	color:#000;
}

#main-table {
	width:100%;
	height:100%;
	position:relative;
	display:inline-block;
	/*background-color:#3a1c4a;*/
}

.section1 {
	width:48.875%;
	height:45vh;
	position:relative;
	display:inline-block;
	float:left;
	clear:both;
	padding-left:0.75%;
	padding-right:0.375%;
	padding-bottom:0.75%;	
	
}

.section2 {
	width:48.875%;
	height:40vh;
	position:relative;
	display:inline-block;
	float:left;
	clear:both;
	padding-left:0.75%;
	padding-right:0.375%;
	padding-bottom:0.75%;
}

.section3 {
	width:48.875%;
	height:91.667vh;
	position:relative;
	display:inline-block;
	padding-right:0.75%;
	padding-left:0.375%;
	right:0;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
}

.table-header {
	width:48.875%;
	height:40px;
	position:fixed;
	display:block;
	background-color:#5E2B6C;
	z-index:4;
}

.table-header-section3 {
	width:48.875%;
	height:85px;
	position:fixed;
	display:block;
	background-color:#5E2B6C;
	z-index:4;
}

.table-header h2 {
	position:relative;
	display:block;
	float:left;
	padding:9.67px 15px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:left;
	color:#fff;
}

.table-header p {
	position:relative;
	display:block;
	float:right;
	padding:9.67px 15px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:right;
	text-indent:15px;
	color:#fff;
}

.table-header-section3 p {
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	background-color:#5E2B6C;
	color:#fff;
}

.table-header-section3 span {
	width:35px;
	display:inline-block;
	margin:5px 0px;
   	border-top:3px solid #fff;
}

.section3-sub {
	padding:12.33px 15px;
}

.section3-count {
	float:right;
	display: block;
	text-align:right;
}

.section1 .table-data, .section2 .table-data {
	width:48.875%;
	height:38.875%;
	position:fixed;
	display:inline-block;
	margin-top:40px;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-color:#000;
	overflow-y:scroll;
}

.section3 .table-data {
	width:48.875%;
	height:79.25%;
	position:fixed;
	display:block;
	margin-top:85px;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-color:#000;
	overflow-y: scroll;
}

.section1 .table-row, .section2 .table-row {
	width:100%;
	height:50px;
	position:relative;
	display:block;
	border-bottom-width:0.5px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	background-color:#fff;
}
.section3 .table-row {
	width:100%;
	height:85px;
	position:relative;
	display:block;
	border-bottom-width:0.5px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	background-color:#fff;
}


.section1 .table-cell, .section2 .table-cell {
	height:50px;
	position:relative;
	display:flex;
	float: left;
}

.section3 .table-cell {
	height:85px;
	position:relative;
	display:block;
	float:left;
}


.section1 .table-cell:nth-child(1), .section1 .table-cell:nth-child(4), .section2 .table-cell:nth-child(1), .section2 .table-cell:nth-child(4) {
	width:12.75%;
}


.section1 .table-cell:nth-child(2), .section1 .table-cell:nth-child(6), .section2 .table-cell:nth-child(2), .section2 .table-cell:nth-child(6) {
	width:18.5%;
}

.section1 .table-cell:nth-child(3), .section1 .table-cell:nth-child(5), .section2 .table-cell:nth-child(3), .section2 .table-cell:nth-child(5) {
	width:7.5%;
}


.section1 .table-cell:nth-child(7), .section2 .table-cell:nth-child(7) {
	width:22.5%;
	background-color:rgba(128,128,128, 0.1);
	
}

.section3 .table-cell:nth-child(1) {
	width:30%;
}


.section3 .table-cell:nth-child(2), .section3 .table-cell:nth-child(3) {
	width:20%;
}

.section3 .table-cell:nth-child(n+4) {
	width:15%;
}

.section1 .table-cell p, .section2 .table-cell p {
	padding:12.5px 0px;
	margin-left:auto;
	margin-right: auto;
}



.section1 .table-cell:nth-child(1) p, .section2 .table-cell:nth-child(1) p {
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:center;
}


.section1 .table-cell:nth-child(2) p, .section2 .table-cell:nth-child(2) p, .section3 .table-cell:nth-child(1) p:nth-child(2) {
	font-size:0.9em;
	font-family:'Roboto', sans-serif;
	font-weight:200;
	text-align:center;
	color:rgba(128,128,128, 0.8);
}

.section1 .table-cell:nth-child(4) p, .section1 .table-cell:nth-child(6) p, .section2 .table-cell:nth-child(4) p, .section2 .table-cell:nth-child(6) p, .section3 .table-cell:nth-child(2) p, .section3 .table-cell:nth-child(3) p {
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:center;
}

.section1 .table-cell:nth-child(7) p, .section2 .table-cell:nth-child(7) p {
	display:inline-block;
	padding:15px 10px;
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:left;
	margin-right:auto;
	margin-left:0;
}

.section3 .table-cell:nth-child(1) p:nth-child(1) {
	width:50%;
	height:25px;
	position: relative;
	display:block;
	float:left;
	clear:both;
	padding-top:12.5px;
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:left;
	text-indent:12.5px;
}

.section3 .table-cell:nth-child(1) p:nth-child(2) {
	width:50%;
	height:25px;
	position:relative;
	display:block;
	float:right;
	padding-top:12.5px;
	
}


.section3 .table-cell:nth-child(1) p:nth-child(3) {
	width:50%;
	height:25px;
	position:relative;
	display:block;
	float:left;
	clear: both;
	padding-top:12.5px;
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:center;
}

.section3 .table-cell:nth-child(4) p:first-child {
	width:65%;
	display:block;
	padding-top:17.5px;
	padding-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	font-size:0.9em;
	font-family:'Roboto', sans-serif;
	font-weight:200;
	text-align:left;
	color:rgba(128,128,128, 0.8);
}


.section3 .table-cell:nth-child(4) p:last-child {
	width:65%;
	display:block;
	padding:5px 0px;
	margin-left:auto;
	margin-right:auto;
	font-size:0.9em;
	font-family:'Roboto', sans-serif;
	font-weight:200;
	text-align:left;
	color:rgba(128,128,128, 0.8);
}

.section3 .table-cell:nth-child(4) span {
	width:65%;
	display:block;
	margin-left: auto;
	margin-right: auto;
   	border-top:2.5px solid rgba(128,128,128, 0.3);
}


.section3 .table-cell:nth-child(5) p {
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:right;
	padding-top:15px;
	padding-right:15px;
}

.section1 .male, .section3 .male {
	width:30px;
	height:30px;
	position:relative;
	display:block;
	padding:10px 0px;
	margin-right:auto;
	margin-left:auto;
}

.image-text-holder {
	width:80%;
	position:relative;
	display:flex;
	float:left;
	margin-right:auto;
	margin-left:auto;
}

.section1 .female, .section2 .male {
	width:30px;
	height:30px;
	position:relative;
	display:block;
	float:left;
	padding:10px 0px;
	margin-left:auto;
}

.section2 .female, .section3 .female {
	width:30px;
	height:30px;
	position:relative;
	display:block;
	margin:10px 0px;
	margin-right:auto;
	margin-left:auto;
}


.section1 .camera, .section2 .camera {
	width:25px;
	height:25px;
	position:relative;
	display:block;
	margin:12.5px 0px;
	margin-right:auto;
	margin-left: auto;
}

.section3 .camera {
	width:20px;
	display:block;
	margin-left: auto;
	margin-right:15px;
	margin-top:10px;
}

.triangle {
	width: 0;
    height: 0;
	display:flex;
	float:left;
    border-top:25px solid transparent;
    border-left:25px solid #fff;
    border-bottom:25px solid transparent;
	z-index:1;
}

